doctype html
html
  head
    title Move Dance Academy
    block scripts
    block style
  body
    nav#navbar
        section#logo
            a(href="/") #[img(src='../static/imgs/logo.jpg' alt='login')]
            a(href="/") #[h1 Move Dance Academy]
        ul
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Timings]
            li #[a(href="/contact") Contact Us]
    block content
    footer This website was created using HTML, CSS, JS and NodeJS. <br> Creator - Madhur Gupta. :) 